@import "tailwindcss";

:root {
  --bg-dark: #2f2f2f;
  --bg-light: #f6f6f6;

  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: var(--bg-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: var(--bg-dark);
  }

  .rbc-today {
    background-color: green;
  }
}

button {
  cursor: pointer;
}
